Testing
install_manifest.txt
compile_commands.json
_deps

build/
builddir/
result*
/.vscode/
/.idea/
.envrc
.cache

*.o
*-protocol.c
*-protocol.h
.ccls-cache
*.so

gmon.out
*.out
*.tar.gz

PKGBUILD

src/version.h
